.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 1em;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.checkboxGroup label {
  margin-left: 0.5em;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.close {
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}